body
{
   text-align: left;
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 16px;
   color: red;
}

#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
 }

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 0 0 0;
 }

#Container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
 }
 
 #Container h1
 {
    font-size: 20px;
 }